@page "/"

<h4>Blazor IndexedDB</h4>
<br/>
GitHub
<a href="https://github.com/kattunga/Blazor.IndexedDB">https://github.com/kattunga/Blazor.IndexedDB</a>
<br/>
This is fork of
<a href="https://github.com/wtulloch/Blazor.IndexedDB">https://github.com/wtulloch/Blazor.IndexedDB</a>
<br/>
<br/>
